/* Note Matching Results List */

.note-matching-result-list {
  display: flex;
  flex-direction: column;
}

.note-matching-result-list > button {
  margin-top: 15px;
  font-size: 15px;
  align-self: center;
  width: 100%;
}


/* Link Matches List Component */

.link-matches-list {
  background: white;
  border-radius: 10px;
  margin-top: 15px;
  padding: 5px;
}

/* Note Matching Result Title*/

.note-matching-result-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.note-matching-result-title > h3 {
  margin: 0;
}


/* Link Match Title */

.link-match-title {
  display: flex;
  flex-direction: row;
}

.link-match-title > h4 {
  margin: 0;
  padding-right: 5px;
}

/* Link Target Candidates List */

.link-target-candidates-list {
  padding: 10px;
}

.link-target-candidates-list > ul {
  padding-left: 10px;
}

/* Replacements Selection */

.replacements-selection {
  margin-top: 6px;
}

.replacements-selection > ul {
  padding-left: 10px;
}

/* Replacement Item */

.replacement-item {
  display: flex;
  flex-direction: row;
}

.replacement-item > .matched-text {
  white-space: nowrap;
}

.replacement-context {
  font-size: 14px;
  color: dimgray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.replacement-context > .arrow-icon {
  padding-left: 5px;
  padding-right: 5px;
}
/* Other styling */

.hide-list-styling {
  list-style: none;
  margin: 0;
  padding: 0;
}

.light-description {
  font-size: 10px;
  color: darkgray;
  font-style: italic;
}